<h1 class="text-center">{{name}}</h1>
    <p class="text-center">{{alc}}</p>
<div class="row stat">
    <div class="col-2">
        <ul>
            <h3>Ingredients:</h3>
        {{#each ingr}}
        <li>
            {{this}} <br>
        </li> <br>
        {{/each}}
    </ul>
    </div>
    <div class="col-6">
        <img src="{{image}}" alt="" width="100%">
    </div>
    <div class="col-4">
        <h3>How to Do:</h3>
        <p>{{instr}}</p>
    </div>   
    

    
    
</div>